# Supabase — Transaction pooler (porta 6543) para queries normais
DATABASE_URL="postgresql://postgres.witqdtfmedwqlapugqib:LARfraterno@26@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase — Direct connection (porta 5432) para migrations
DIRECT_URL="postgresql://postgres.witqdtfmedwqlapugqib:LARfraterno@26@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="witqdtfmedwqlapugqib"
PORT=3333
